body {
    /* font-family: 'Maven Pro', serif; /* Helvetica, Arial, sans-serif;*/
    font-family: 'Molengo', serif; 
    font-size: large;
    background-color: #F0F5F3
}

pre {
    background-color: lightgray;
}


h1 {
    /* font-family: georgia,'bitstream vera sans serif','lucida grande',helvetica,verdana,sans-serif*/
    font-family: 'Molengo', serif;
}


h2 {
    font-size: x-large;
    font-family: 'Open Sans', serif;
}

p {
    text-align: justify;
}

a:visited {
    background: #FFFFFF none repeat scroll 0 0;
    color: #111111;
}
a, a:link {
    color: #000000;
}
a:hover {
    background: #000000 none repeat scroll 0 0;
    color: #FFFFFF;
    text-decoration: none;
}

a.normal:hover {
    background: transparent none repeat scroll 0 0;
    color: #000000;
    text-decoration: none;
}



.main {
    margin: 0 auto;
    width: 600px;
}


.navitem {
    float:left;
    margin-right:20px;
}

.content {
    width: 600px;
}

.footer {
    background: none repeat scroll 0 0 #292929;
    font-size: small;
    color: #C3C3C3;
    padding: 4px;
    margin:0;
    text-transform: uppercase;
    font-weight:bold;
    margin-top: 30px;
}

.postmetadata {
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  font-size:medium;
}
