<!DOCTYPE html> 

<html lang="en">
<head>
  <title>Tim Disney (disnetdev) {%if page.subtitle%}-- {{page.subtitle}}{% elsif page.title %}-- {{page.title}}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="9ivaBkcx4wYQjSbjH6sSUunDw27N4-K1ks8pH1NFMdI" />
{% if page.title %}
  <!-- no description -->
{% elsif page.metacontent %}
  <meta name="description" content="{{page.metacontent}}">
{% endif %}
  <link rel="icon" href="/favicon.ico" />
  <link rel="alternate" type="application/atom+xml" title="Tim Disney - Atom" href="http://feeds.feedburner.com/Disnetdevcom" />


  <link href='http://fonts.googleapis.com/css?family=Signika|Petrona|Muli' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />

{% for style in page.stylesheets %}
  <link rel="stylesheet" href="{{ style }}" type="text/css" />
{% endfor %}


  <script type="text/javascript" src="/hyphenate.js"></script>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 

{% for script in page.scripts %}
  <script type="text/javascript" src="{{script}}"></script>
{% endfor %}
</head>

<body>
  <div class="main">
      <h1 style="font-size: 48px;">Tim Disney</h1>

      <div class="nav">
          <div class="navitem"><a href="/index.html">about</a></div>
          <div class="navitem"><a href="/papers.html">papers</a></div>
          <div class="navitem"><a href="/blog">blog</a></div>
          <div style="clear:both"></div>
      </div>

      <div class="content hyphenate">
        {{content}} 
      </div>

      <div class="footer" style="clear: both">
        <small>Copyright &copy; Tim Disney</small>
      </div>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{ 
var pageTracker = _gat._getTracker("UA-744645-1");
pageTracker._trackPageview();
} catch(err) {} 
</script>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/disnetdev/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

</body>

</html>
